{^isBeingEdited}
<div class="task-list-row">
  
  <div class="task-description">
    {^isCompleted}
    <i class="fa fa-circle-o" class="task-complete-false"></i>
    <div>{description}</div>
    {:else}
    <i class="fa fa-check-circle-o" class="task-complete-true"></i>
    <div class="task-completed">{description}</div>
    {/isCompleted}
  </div>

  <div class="task-item-btns">
      <i class="fa fa-pencil" id="btn-edit"></i>
    <i class="fa fa-times" id="btn-delete"></i>
  </div>

</div>

{:else}
<div class="task-list-row-edit">
  <input value="{description}"/>
</div>
{/isBeingEdited}