body {
  font-family: 'Roboto', sans-serif;
}

input[type="text"] {
  color: #333;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

#app {
  max-width: 600px;
  min-width: 484px;
  margin: 20px auto;
}

/*** TASK MENU ***/

#task-menu {
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b1b0b0;
  padding: 10px 16px;
  font-size: 13px;
}

#task-menu button {
  border: none;
  border-radius: 3px;
  background-color: #fff;
  padding: 5px 8px;
  margin: 0 4px;
  font-size: 12px;
  font-weight: bold;
}

#btn-remove-complete {
  text-decoration: underline;
  cursor: pointer;
}


/*** TASK LIST ***/

#task-list-view {
  color: #333;
  padding: 10px 30px;
  background-color: #dadada;
}

#task-list {
  position: relative;
  box-sizing: border-box;
  color: #333;
  background-color: #dadada;
  padding: 0 0 60px 0;
  min-height: 300px;
}

.task-list-row, .task-list-row-edit {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 15px;
  height: 50px;
  border-bottom: solid 1px #b9b9b9;
}

.task-list-row:hover .task-item-btns {
  display: block;
}

.task-list-row-edit input {
  width: 100%;
  padding: 4px 6px;
}

.task-description {
  display: flex;
  cursor: pointer;
}

.task-completed {
  color: #888;
  text-decoration: line-through;
}

.fa-circle-o, .fa-check-circle-o {
  font-size: 18px;
  margin: 0 10px;
}

.fa-check-circle-o {
  color: rgb(26, 201, 119);
}

.task-item-btns button {
  display: none;
  color: #555;
}

.active-filter-btn {
  color: green;
}

.fa-pencil, .fa-times {
  font-size: 18px;
  margin: 0 0 0 16px;
  cursor: pointer;
}

.fa-times {
  color: rgb(235, 60, 60);
}

#input-new-task {
  box-sizing:border-box;
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding: 6px 8px;
}

#vaildation-error {
  color: rgb(209, 2, 2);
  font-size: 14px;
  margin: 20px 0 0;
}