body {
  font-family: 'Roboto', sans-serif;
}

input[type="text"] {
  color: #333;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

#app {
  margin: 20px auto;
  max-width: 600px;
  min-width: 484px;
}


/*** TASK MENU ***/

#task-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b1b0b0;
  color: #333;
  font-size: 13px;
  padding: 10px 16px;
}

#task-menu button {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  margin: 0 4px;
  font-size: 12px;
  font-weight: bold;
}

#btn-remove-complete-tasks {
  text-decoration: underline;
  cursor: pointer;
}


/*** TASK LIST ***/

#task-list-view {
  background-color: #dadada;
  color: #333;
  padding: 10px 30px;
}

#task-list {
  position: relative;
  background-color: #dadada;
  color: #333;
  padding: 0 0 60px 0;
  min-height: 300px;
  box-sizing: border-box;
}

.task-list-row, .task-list-row-edit {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #b9b9b9;
  font-size: 15px;
  height: 50px;
}

.task-list-row:hover .task-item-btns {
  display: block;
}

.task-list-row-edit input {
  padding: 4px 6px;
  width: 100%;
}

.task-description {
  display: flex;
  cursor: pointer;
}

.task-completed {
  color: #888;
  text-decoration: line-through;
}

.task-item-btns button {
  display: none;
  color: #555;
}

.active-filter-btn {
  color: #008000;
}

#input-new-task {
  position: absolute;
  bottom: 10px;
  box-sizing:border-box;
  padding: 6px 8px;
  width: 100%;
}

#vaildation-error {
  color: #d10202;
  font-size: 14px;
  margin: 20px 0 0;
}


/*** FONT-AWESOME ICONS ***/

.fa-circle-o, .fa-check-circle-o {
  font-size: 18px;
  margin: 0 10px;
}

.fa-check-circle-o {
  color: #1ac977;
}

.fa-pencil, .fa-times {
  font-size: 18px;
  margin: 0 0 0 16px;
  cursor: pointer;
}

.fa-times {
  color: #eb3c3c;
}