body {
  font-family: 'Roboto', sans-serif;
}

#task-list-view {
  color: #333;
  padding: 10px 30px;
  background-color: #dadada;
  max-width: 600px;
}

#task-list {
  position: relative;
  box-sizing: border-box;
  color: #333;
  background-color: #dadada;
  padding: 0 0 60px 0;
}

.task-list-row, .task-list-row-edit {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 16px;
  padding: 12px 0;
  border-bottom: solid 1px #b9b9b9;
}

.task-list-row:hover .task-item-btns {
  display: block;
}

.task-list-row-edit input {
  width: 100%;
  height: 24px;
}

.task-description {
  display: flex;
  cursor: pointer;
}

.task-completed {
  text-decoration: line-through;
}

.fa-circle-o, .fa-check-circle-o {
  font-size: 18px;
  margin: 0 10px;
}

.task-item-btns {
  align-self: flex-end;
  display: none;
  color: #555;
}

.fa-trash, .fa-pencil {
  font-size: 18px;
  margin: 0 0 0 16px;
  cursor: pointer;
}

#input-new-task {
  box-sizing:border-box;
  position: absolute;
  width: 100%;
  height: 28px;
  bottom: 10px;
}

#vaildation-error {
  color: rgb(209, 2, 2);
  font-size: 14px;
  margin: 20px 0 0;
}